{% extends 'base.html' %}

{% block content %}
<div class="card-container">
    <div class="card">
      <div class="card-header">
        <h2>Sale Details</h2>
      </div>
      <div class="card-body">
        <p><strong>Produce:</strong> {{ sale.produce }}</p>
        <p><strong>Branch:</strong> {{ sale.quantity }}</p>
        <p><strong>Price per Kg:</strong> UGX {{ sale.price }}</p>
        <p><strong>AmountPaid:</strong> {{ sale.amount_paid_ugx }}</p>
        <p><strong>Branch:</strong>{{sale.branch}}</p>
      </div>
      <div class="card-footer">
        <a href="{% url 'addsales' sale.id %}" class="btn btn-sm" style="background-color:  rgb(16, 168, 120);color: aliceblue;">Edit</a>
        <a href="" class="btn btn-sm" style="background-color:  rgb(16, 168, 120); color: aliceblue;">Delete</a> <!-- Hook this to a delete view later -->
        <a href="{% url 'allsales' %}" class="btn btn-sm" style="background-color:  rgb(16, 168, 120); color: aliceblue;">Back</a>
      </div>
    </div>
  </div>
                    <!-- Centered Button at Bottom -->
                    <div class="text-center mt-4">
                        <a href="{% url 'addsales' sale.id %}" class="btn btn-lg" style="background-color:  rgb(16, 168, 120); color: aliceblue;">Sell Item</a>
                    
{% endblock %}
